
@import 'colors.css';
@import '../fonts/Fonts.css';

.dialog.light{
    -fx-font-family: "Bitcount Grid Single", "Segoe UI", system;
    -fx-font-size: 14px;
    -fx-padding: 20px;
    -fx-background-color: transparent;
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0, 0, 0);*/
    -fx-border-size: 2;
    -fx-border-color: -primary-gradient;
    -fx-border-radius: 12;
    

}

/**************************************************
 * Toggle Buttons
**************************************************/
.mfx-toggle-button.light {
	-fx-text-fill: -mfx-text-he;
}

.mfx-toggle-button .text {
	-fx-font-smoothing-type: lcd;
}

.customToggleButton .light{
	-mfx-main: -primary-gradient;
	-mfx-secondary: #5E0BA8;
	-fx-text-fill: #5E0BA8;
}

.customToggleButton .mfx-ripple-generator .light {
	/*-mfx-ripple-color: -common-gradient;*/
	-fx-opacity: 0.5;
}

/*-- Darrk theme ---*/



.dialog.dark {
    -fx-font-family: "Bitcount Grid Single", "Segoe UI", system;
    -fx-font-size: 16px;
    -fx-padding: 20px;
    -fx-background-color: transparent;
    -fx-border-size: 2;
    -fx-border-radius: 20;
    -fx-border-color: #000;
    -fx-text-fill: #fff;

}


/**************************************************
 * Toggle Buttons
**************************************************/
.dialog.dark .mfx-toggle-button, .dialog.dark VBox Label {
	-fx-text-fill: #fff;
}



.mfx-toggle-button .text {
	-fx-font-smoothing-type: lcd;
}

.customToggleButton.dark{
	-mfx-main: #f34;
	-mfx-secondary: #5E0B28;
}

.customToggleButton .mfx-ripple-generator .dark {
	/*-mfx-ripple-color: -common-gradient;*/
	-fx-opacity: 0.5;
}
